*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    color: gray;
}

/* utility classes */

.big-box > div ,
.gallery-item > div > div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.main-div{
    background-color: rgb(29, 29, 29);
}

.Primary-container{
    width: 90%;
    margin: 0 auto;
    background-color: rgb(19, 19, 19);
}

.container{
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}

/* NAVBAR */

nav{
    padding-bottom: 10px;
}

nav h1{
    padding: 10px 0;
}

.nav-menu{
    background-color: #000;
}

a{
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: #D7D7D7;
}

/* SECTION */

section{
    background-color: #FFF;
    padding: 30px 0;
}

.big-box{
    background-color:rgb(19, 19, 19); 
    height: 360px;
    font-size: 30px;
    position: relative;
}

section p{
    margin: 30px 0;
    padding: 10px;
    font-size: 18px;
    text-transform:uppercase;
    background-color: lightgray;
}

section h2{
    padding: 10px 0;
    border-bottom: 1px solid lightgrey;
}

.gallery{
    display: flex;
    justify-content: space-between;
    margin:20px 0;
}

.gallery-item{
    border: 1px solid lightgray;
    padding: 3px;
    text-align: center;
    position: relative;
}

.gallery-item > div{
    width: 215px;
    height: 315px;
    background-color:rgb(19, 19, 19);
}

.gallery-item h5{
    background-color: lightgray;
}

/* FOOTER */

footer{
     background-color: #000;
     padding: 15px;
}

.footer-items{
    display: flex;
    justify-content: space-between;
}

footer h6{
    font-size: 14px;
}